body, html {
  height: 100%;
}
body {
  box-sizing: border-box;
  margin: 0 10%;
  padding: 20px 0;
}

.svg-container {
  height: 100%;
  padding: 20px;
  min-height: 400px;
  max-height: 600px;
  margin-bottom: 20px;
  text-align: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 5px;
  box-sizing: border-box;
  background: radial-gradient(circle at 25% 25%,
      rgb(236,236,251),
      rgb(236,236,251) 5%,
      rgb(180,180,180)
  );
}

.chart {
  max-height: 100%;
}