body, html {
  height: 100%;
}
body {
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;  
}

.svg-container {
  height: 100%;
  padding: 20px;
  min-height: 400px;
  max-height: 600px;
  margin-bottom: 20px;
  text-align: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 5px;
  box-sizing: border-box;
  background: radial-gradient(circle at 25% 25%,
      rgb(236,236,251),
      rgb(236,236,251) 5%,
      rgb(190,160,160)
  );
}

.tooltip {
  position: absolute;
  pointer-events: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  padding: 5px;
  height: 55px;
  width: 150px;
  background: rgba(48, 54, 56, 0.5);
  overflow: hidden;
  visibility: visible;
  box-shadow: 1px 1px 2px 2px black;
  transform: translate(-90%, 20%);
  transition: .5s opacity, .5s height ease-out;
}

.tooltip-hidden {
  opacity: 0;
  height: 0;
}

.tick text {
  font-size: 14px;
}

.yAxis line, .yAxis path {
  stroke: none;
}

.title {
  font-size: 26px;
  text-anchor: end;
}

.chart {
  max-height: 100%;
}
